{% extends '::base.html.twig' %}

{% block title %}Unit Of Measure{% endblock %}

{% block body %}
    {% for unit in units %}
        <p>1 {{ unit.from }} = {{ unit.amount }} {{ unit.to }}</p>
    {% endfor %}
    <p>6 feet = {{ 6|uom_length('ft', 'yd') }} yards</p>
    <p>8 miles = {{ uom('length', 8, 'mi').toUnit('yd') }} yards</p>
    <p>8 gallons = {{ uom('volume', 8, 'gal').toUnit('pt') }} pints</p>
    <p>1 cst = {{ 1|uom_viscosity('cst', 's') }} stoke</p>
{% endblock %}



